/* Justify text in reading mode */
.markdown-preview-view p {
  text-align: justify;
  text-justify: inter-word;  
}

/* Justify text in source view and live preview */
.markdown-source-view.mod-cm6 .cm-line {
  text-align: justify;
  text-justify: inter-word;  
}

/* Resize videos based on custom classes (if applicable) */
.vid-20 video {
  width: 20%;
}

.vid-30 video {
  width: 30%;
}

.vid-40 video {
  width: 40%;
}

.vid-50 video {
  width: 50%;
}

.vid-60 video {
  width: 60%;
}

.vid-70 video {
  width: 70%;
}

.vid-80 video {
  width: 80%;
}

.vid-90 video {
  width: 90%;
}